<!-- 共通テンプレートを継承 -->
{% extends 'homepage/base.html' %}

<!-- タブに表示される名前 -->
{% block title %}IDEAL ROOM{% endblock %}

{% load static %}<!-- Django用のスタティックフォルダアクセス用タグ読み込み -->
{% block content %}

    <!-- 本文のブロック -->
    <div class="contener"><!-- クラスを2つ指定 css用 -->            

        <!-- 事業内容のグループ -->
        <!-- ３つのサービス全体を囲むためのグループを作る -->
        <div class="container_service">

            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd2p-ppnSjWBXRIDcMY3tsENj30qG824Fd86FghME25GHWNvg/viewform?embedded=true" width="1200" height="1200" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>

        </div>
    </div>
        <!-- 本文 -->



{% endblock %} 